ul,
li {
    text-align: center;
    list-style: inside;
    font-size: medium;
}

table,
th,
td {
    border: 1px solid;
    border-color: brown;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

#nonograms,
#buttons,
h1,
h4 {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
}

#answerTable,
#userTable,
#displayAnswer,
#showAnswer,
#resetNono,
#changeNono {
    display: flex;
    flex-direction: column;
}

#one {
    background-color: black;
    color: black;
}

#zero:hover,
button:hover {
    background-color: darksalmon;
}

#one:hover {
    background-color: brown;
}

#zero {
    background-color: aliceblue;
    color: aliceblue;
}

#guide {
    background-color: indianred;
    color: black;
    font-weight: bold;
}

button {
    background-color: indianred;
    border: none;
    padding: 20px 30px 20px 30px;
    color: white;
    font-size: large;
}

body {
    background-image: url("winter_willow.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

#textNono {
    background-color: white;
    padding: 10px 10px 10px 10px;
    background-blend-mode: multiply;
    margin: 30px 100px 30px 100px;
}