h1,
h2,
h3 {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

#nonograms,
#buttons {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
}

#answerTable,
#userTable,
#displayAnswer,
#showAnswer,
#restNono {
    display: flex;
    flex-direction: column;
}

#one {
    background-color: black;
    color: black;
}

#zero:hover,
button:hover {
    background-color: darksalmon;
}

#zero {
    background-color: aliceblue;
    color: aliceblue;
}

#guide {
    background-color: indianred;
    color: black;
    font-weight: bold;
}

button {
    background-color: indianred;
    border: none;
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: large;
}